﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">A Propos</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Accueil</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> A Propos</li>
        </ul>
    </div>
</section>

<section class="content-with-photo-16 py-5">
    <!-- /content-with-photo-16 -->
    <div class="content-with-photo-16-main py-lg-5 py-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 column">
                    <div class="content-with-photo-16-inf">
                        <h3>SYNDICATA </h3>
                        <p>
                            Aliquam blandit vel sapien eget aliquam. Phasellus eget volutpat libero. Suspendisse
                            eleifend nibh quis dui placerat fermentum.n molestie nulla felis, vitae feugiat justo
                            pulvinar et.
                            Aliquam blandit vel sapien eget aliquam. Phasellus eget volutpat libero. Suspendisse
                            eleifend nibh quis dui placerat fermentum.n molestie nulla felis, vitae feugiat justo
                            pulvinar et.
                        </p>
                        <ul class="content-photo-list">
                            <li>
                                <span>Gestion Organisationnels .</span>
                            </li>
                            <li>
                                <span>Gestion Juridique .</span>
                            </li>
                            <li>
                                <span>Gestion Financiers .</span>
                            </li>
                            <li>
                                <span>Gestion Techniques .</span>
                            </li>
                        </ul>
                        <br>
                        <h6 style="text-align: center;">NOUS SOMMES LÀ POUR MENER À BIEN LE PROJET PATRIMONIAL DE L'ENSEMBLE DES COPROPRIÉTAIRES !</h6>
                    </div>
                </div>
                <div class="col-lg-6 column mt-lg-0 mt-md-5 mt-4">
                    <div class="companies-img">
                        <img src="images/about1.jpg" class="img-fluid radius-image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- jQuery and Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- Template JavaScript -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>

<script src="js/owl.carousel.js"></script>

<!-- script for carousel1 -->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: false,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->
